<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="top-header">
      <div class="top-container">
        <div class="site-logo">
          <a href="/"><img src="/images/site_logo.png" alt=""></a>
        </div>
        <% if (!user) { %>
          <div class="status-area">
            <a href="/login">登 录</a>
          </div>
        <% } else { %>
          <div class="user-block" user-id="<%= user._id %>" user-name="<%= user.username%>" >
            <div class="avatar">
              <img src="<%= user.avatarUrl%>" alt="">
              <ul class="dropdown-list ">
                <li><a href="/homepage/<%= user._id %>">我的主页</a></li>
                <li><a href="/logout">登出</a></li>
              </ul>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="top-panel">
      <div class="showcase"></div>
      <div class="site-content">
        <div class="sorts-container">
          <a href="/release">发布</a>
          <a href="/signup">注册</a>
          <a href="/login">登录</a>
        </div>
        <div class="content-wrapper">
          <div class="contents">
            <% if (data) {
              data.forEach(function(poetry) { %>
              <div class="poetry-item" data-poetryid="<%= poetry._id %>">
                <div class="thumbnail">
                  <img src='/images/thumbnail.png' alt="">
                </div>
                <div class="poetry-content">
                  <p><%= poetry.firstline %></p>
                  <p><%= poetry.secondline %></p>
                  <p><%= poetry.thirdline %></p>
                </div>
                <div class="info-row">
                  <a href="/homepage/<%= poetry.userid %>" class="user-avatar-small" auhtor-id="<%= poetry.userid %>" style="background-image: url(<%= poetry.userAvatarUrl %>);"></a>
                  <p class="create-time"><%= poetry.createtime.toLocaleDateString() %></p>
                  <div class="cover-stat">
                    <!-- <span class="stat-discuss"><%= poetry.discuss %></span> -->
                  <% if (user) { %>
                    <% if ((poetry.ap_users).indexOf(user._id) > -1) { %>
                      <span class="stat-appreciations likes" name="isLogin"><%= poetry.appreciations %></span>
                    <% } else { %>
                      <span class="stat-appreciations" name="isLogin"><%= poetry.appreciations %></span>
                    <% } %>
                  <% } else {%>
                    <span class="stat-appreciations"><%= poetry.appreciations %></span>
                  <% } %>
                  </div>
                </div>
              </div>
            <% }); } %>
          </div>
          <div class="filters"></div>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/site_js.js"></script>
  </body>
</html>
